@font-face {
  font-family: inter-light;
  src: url("../fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: inter-bold;
  src: url("../fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: inter-bolder;
  src: url("../fonts/static/Inter-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: inter-light;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

.container {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: auto;
  gap: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0;

  &__logo {
    width: 2rem;
  }

  &__open-navbar {
    background-color: transparent;
    border: 0;
  }
}

.navbar {
  position: fixed;
  right: -100%;
  top: 0;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  transition: 0.5s;

  &__close {
    position: absolute;
    right: 1rem;
    top: 2rem;
    border: 0;
    background-color: transparent;

    img {
      width: 2rem;
    }
  }

  &__container {
    position: absolute;
    top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;

    a {
      font-size: 1.5rem;
      color: var(--Very-dark-blue);

      &:hover {
        color: var(--Soft-red);
      }
    }
  }
}

.main {
  margin-top: -1.5rem;

  &__title {
    color: var(--Very-dark-blue);
    font-family: inter-bolder;
    padding: 0.7rem 0;
  }

  &__text {
    color: var(--Very-dark-blue);
    font-size: 0.813rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  &__button {
    background-color: var(--Soft-red);
    color: #fff;
    font-size: 0.813rem;
    letter-spacing: 3px;
    padding: 0.7rem 1.5rem;

    &:hover {
      background-color: var(--Very-dark-blue);
    }
  }
}

.aside {
  background-color: var(--Very-dark-blue);
  color: #fff;
  padding: 1rem 0.8rem 0;

  &__title {
    color: var(--Soft-orange);
  }

  div {
    font-size: 0.725rem;
    padding: 1rem 0;

    h3 {
      margin-bottom: 0.5rem;
      cursor: pointer;

      &:hover {
        color: var(--Soft-orange);
      }
    }

    p {
      color: var(--Grayish-blue);
    }

    + div {
      border-top: thin solid var(--Dark-grayish-blue);
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .card {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.813rem;

    h2 {
      font-size: 0.813rem;
      margin: 0.3rem 0;
      cursor: pointer;

      &:hover {
        color: var(--Soft-red);
      }
    }

    span {
      font-size: 1.1rem;
      color: var(--Grayish-blue);
    }

    p {
      color: var(--Dark-grayish-blue);
      line-height: 1.5;
    }

    img {
      height: 100px;
      object-fit: cover;
    }
  }
}

@media (min-width: 950px) {
  .container {
    padding-bottom: 2rem;
    grid-template-areas:
      "header header header header"
      "main main main aside"
      "section section section section";
    column-gap: 1.5rem;
    row-gap: 4rem;
    width: 70%;
    margin: auto;
    max-width: 1440px;
  }

  .header {
    grid-area: header;

    &__logo {
      width: 4rem;
    }

    &__open-navbar {
      display: none;
    }
  }

  .navbar {
    position: static;
    height: unset;
    width: unset;

    &__close {
      display: none;
    }

    &__container {
      position: static;
      flex-direction: row;

      a {
        font-size: 1rem;
      }
    }
  }

  .main {
    grid-area: main;
    margin-top: -1rem;

    img {
      width: 100%;
      height: 200px;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__container {
      display: flex;
      justify-content: space-between;

      .left,
      .right {
        flex-basis: 45%;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }

  .aside {
    grid-area: aside;
    margin-top: -1rem;
    display: grid;

    &__title {
      font-size: 2.5rem;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .section {
    grid-area: section;
    flex-direction: row;
    gap: 3.5rem;
  }
}
